MODE=debug#or release
MYSQL_USER=xxxxxxx
MYSQL_PASSWORD=xxxxxxx
MYSQL_HOST=xxxxxxx
MYSQL_PORT=xxxxxxx
MYSQL_DATABASE=xxxxxxx
ONESIGNAL_APP_ID=xxxxxxx
ONESIGNAL_REST_API_KEY=xxxxxxx
ONESIGNAL_SEGMENT_API_KEY=xxxxxxx
MYSQL_USER=gp_cheng
MYSQL_PASSWORD=xxxxxxxxxxxxxxx
MYSQL_HOST=xxxxxxxxxxxx
MYSQL_PORT=3306
MYSQL_DATABASE=xxxxxxxxx
JWE_KEY_AES_256=xxxxxxxxx